@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

a{
    color:inherit;
    text-decoration: none;
}

.button{
    padding:8px 35px;
    background:#3882f6;
    border-radius:8px;
    font-weight:700;
    color:#ebe7e5
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Roboto', sans-serif;
}


/* NAV */

nav{
    display: flex;
    justify-content: space-between;
    background:#1f2937;
    padding:20px 200px;;
    align-items: center;
}

.logo{
    color:#f9faf8;
}

nav ul{
    display: flex;
    gap:15px;
    font-size:18px;
    color:#ebe7e5
}

.logo span{
    color:rgb(223, 134, 1);
}

/*HERO*/

.hero{
    display: flex;
    background:#1f2937;
    justify-content: space-between;
    padding:100px 200px;
}

.hero-text{
    width:38%;
}
.hero-text h1{
    font-size:48px;
    font-weight:900;
    padding-bottom:20px;
    color:#f9faf8;
}

.hero-text p{
    line-height:1.6;
    font-size:18px;
    color:#ebe7e5;
    padding-bottom:30px;
}

.hero img{
    max-width:500px;
    border-radius:10px;
}


/*BOX*/

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:70px;
    padding-bottom:100px;
    margin:0 30px;
    text-align: center;
}

.boxes{
    display: flex;
    column-gap: 80px;
}
.box img{
    width:140px;
    display: block;
    margin:0 auto;
    padding-bottom:10px;
    padding-top:50px;
}

article h2{
    font-size:36px;
    font-weight: 900;
    color:#1f2937;
}


/*Testimonial*/

.testimonial{
    background:#e5e7eb;
    padding:100px 0;
    font-size:36px;
    font-style:italic;
}

.testimonial p{
    width:60%;
    margin:0 auto;
}
.testimonial span{
    display: block;
    font-style: normal;
    font-weight: 500;
    padding-left: 700px;
    color:#1f2937
}

